*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    
    background: #191f21;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg ,#00feba, #5b548a);
    color: aliceblue;
    margin: 100px auto 0;
        border-radius: 15px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    width: 80%;
    padding: 12px 15px;
    border-radius: 30px;
    background: #ebfffc;
    color: aliceblue;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    border: none;
    outline: none;
    margin-right: 16px;
    font-size: 17px;
}
.search button{
    width: 60px;
    height: 60px;
    border-radius: 30%;
    border: none;
    outline: none;
    background: #ebfffc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search button img{
    width: 20px;
    
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 64px;
    margin: 20px 0 10px; 
}
.weather h2{
    font-size: 32px;
    font-weight: 500;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 20px;
}
.column{
    display: flex;
    text-align: center;
    text-align: left;

}
.column img{
    width: 40px;
    margin-right: 15px;
}
.humidity, .wind{
    font-size: 18px;
    margin-top: -6px;
}
